{% extends '::base.html.twig' %}
{% block body %}
	<div id="slider" style="background: url('https://d3b4yo2b5lbfy.cloudfront.net/wp-content/uploads/wallpapers/bafaa9-17_TR-1920x1080.jpg') center center;">
        <div class="container">
            <h1>{{ 'The Dutch Fellowship'|trans }}</h1>
            <p>Een introductie text over TDF, en reden waarom je zou moeten aanmelden. Toffee gummies caramels cupcake ice cream chocolate cake liquorice sugar plum fruitcake. Macaroon applicake oat cake bear claw croissant. Dessert cake chocolate ice cream candy. Cookie ice cream chocolate tart jelly carrot cake tiramisu pudding. </p>
            <a href="#aanmelden" class="btn">{{ 'Apply'|trans }}</a>
        </div>
    </div>
    <div class="container home">
        <article>
            <header>
                <figure>
                    <span>{{ 'by'|trans }} <strong>Arazu</strong></span>
                    <img src="#" alt="testimage" />
                    <a href="#commentsLorem" class="commentslink" alt="3 comments for this news blog"><span class="icon-bubble"></span>3</a>
                </figure>
            </header>
                <h2><a href="#1">Lorem ipsum dolor sit amet.</a></h2>
            <p>World vs World met de guild, op een gewone casual manier. Samen een dungeon doen. Iets nieuws ontdekken?..</p>
        </article>
        <article>
            <header>
                <figure>
                    <span>{{ 'by'|trans }} <strong>HellHunter</strong></span>
                    <img src="#" alt="testimage" />
                    <a href="#commentsLorem" class="commentslink"><span class="icon-bubble"></span>0</a>
                </figure>
            </header>
                <h2><a href="#2">Halvah sesame snaps</a></h2>
            <p>Powder chocolate cake jelly beans candy canes carrot cake croissant croissant. I love cotton candy candy...</p>
        </article>
        <article>
            <header>
                <figure>
                    <span>{{ 'by'|trans }} <strong>Petra</strong></span>
                    <img src="#" alt="testimage" />
                    <a href="#commentsLorem" class="commentslink"><span class="icon-bubble"></span>1</a>
                </figure>
            </header>
                <h2><a href="#3">Gaming with the guild</a></h2>
            <p>Dit kan allemaal in Guild Wars 2. Join The Dutch Fellowship World vs World met de guild...</p>
        </article>
    </div>
{% endblock %}